<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="server" value="localhost" />
    <add key="port" value="80" />
    <add key="scheme" value="http" />
    <add key="path" value="/web/profiles" />
    <add key="ServiceStackThreadPoolSize" value="40" />
  </appSettings>
</configuration>